<mat-drawer-container class="example-container" autosize>

  <mat-drawer #enlaces class="example-sidenav" mode="over">
    <div class="position-sticky text-center">
      <div class="list-group list-group-flush mx-3 mt-4">
        <a routerLink="/products" class="list-group-item list-group-item-action py-2 ripple">
          <mat-icon>dashboard</mat-icon>
          <span>All Products</span>
        </a>
        <a routerLink="/vendors" class="list-group-item list-group-item-action py-2 ripple">
          <mat-icon>perm_identity</mat-icon>
          <span>All Vendors</span>
        </a>
      </div>
    </div>
  </mat-drawer>

  <mat-toolbar color="primary">
    <button mat-icon-button color="accent" aria-label="menu" (click)="menu(enlaces)">  
      <mat-icon>menu</mat-icon>  
   </button> 
   <a class="navbar-brand" routerLink="/">
    <img src="../assets/img/polilogocircle.png" height="45" alt="" loading="lazy" id="logonav" />
    </a>
  <span>PoliMarket</span>
  
  <ul class="navbar-nav ms-auto d-flex flex-row">
    <li class="nav-item me-3 me-lg-0">
      <a class="nav-link" href="https://github.com/anvefran/proyecto02LP-G8">
        <i class="fab fa-github"></i>
      </a>
    </li>
  </ul>
  
  <button mat-button [matMenuTriggerFor]="profile">
    <span>Hola Eduardo!</span>
    <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="person"></mat-icon>
  </button>

  <mat-menu #profile="matMenu">
    <mat-card>
      <mat-card-header>
        <div mat-card-avatar class="profile-pic"></div>
        <mat-card-title>Eduardo Salavarria</mat-card-title>
        <mat-card-subtitle>Tu perfil</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content class="d-flex flex-column align-content-start">
        <button mat-flat-button>Cuenta</button>
        <button mat-flat-button>Pedidos</button>
        <button mat-flat-button>Recomendaciones</button>
        <button mat-flat-button>Historial de búsquedas</button>
        <button mat-flat-button color="warn">Cerrar sesión</button>
      </mat-card-content>
    </mat-card>
  </mat-menu>
  

  <button mat-raised-button  matBadge="5" routerLink="/carrito">
    <span>Carrito</span>
    <mat-icon  matBadgeColor="accent" fontIcon="shopping_cart" ></mat-icon>
  </button>

  </mat-toolbar> 
  
  <router-outlet></router-outlet> 
</mat-drawer-container>
