<div class="background d-flex flex-row  border align-items-center justify-content-center">
    <mat-card class="m-2 card-profile">
        <mat-card-header>
          <div mat-card-avatar class="profile-pic"></div>
          <mat-card-title style="font-weight: bold;">Tus compras</mat-card-title>
          <mat-card-subtitle>Eduardo Salavarria</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content class="container ">
            <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

                <!-- Id Column -->
                <ng-container matColumnDef="id">
                  <th mat-header-cell *matHeaderCellDef> Id. </th>
                  <td mat-cell *matCellDef="let element"> {{element.id}} </td>
                  <td mat-footer-cell *matFooterCellDef> </td>
                </ng-container>
              
                  <!-- Imagen Column -->
                <ng-container matColumnDef="Imagen">
                    <th mat-header-cell *matHeaderCellDef> Imagen </th>
                    <td mat-cell *matCellDef="let element"><img src="http://localhost/vscodephp/LP/proyecto02LP-G8/backend/{{element.imageURL}}" width="50px" heigth ="50px">  </td>
                    <td mat-footer-cell *matFooterCellDef> </td>
                  </ng-container>

                <!-- Nombre Column -->
                <ng-container matColumnDef="Producto">
                  <th mat-header-cell *matHeaderCellDef> Nombre </th>
                  <td mat-cell *matCellDef="let element"> {{element.nombre}} </td>
                  <td mat-footer-cell *matFooterCellDef></td>
                </ng-container>
              
                <!-- Categoría Column -->
                <ng-container matColumnDef="Categoria">
                  <th mat-header-cell *matHeaderCellDef> Categoria </th>
                  <td mat-cell *matCellDef="let element"> {{element.categoria}} </td>
                  <td mat-footer-cell *matFooterCellDef style="font-weight: bold;"> Total </td>
                </ng-container>
              
                <!-- Precio Column -->
                <ng-container matColumnDef="Precio">
                  <th mat-header-cell *matHeaderCellDef> Precio </th>
                  <td mat-cell *matCellDef="let element"> {{element.precio | currency}} </td>
                  <td mat-footer-cell *matFooterCellDef style="font-weight: bold;"> {{getTotalCost() | currency}} </td>
                </ng-container>

              
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                <tr mat-footer-row *matFooterRowDef="displayedColumns"></tr>
              </table>
              
          
        </mat-card-content>
        <br>
        <mat-card-actions class="d-flex flex-row justify-content-end">
         
            <button mat-raised-button class="mb-2 mr-1" color = "success"  (click)="confirmarVenta('300ms', '150ms')" >
                <span>Comprar ahora!   <span style="font-weight: bold;">{{getTotalCost() | currency}}</span> </span>
                <mat-icon  matBadgeColor="accent" fontIcon="shopping_bag" ></mat-icon>
            </button>
        
        </mat-card-actions>
      </mat-card>
</div>